/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  inline-size: 100vw;
  font-variation-settings: "wght";
  /* background-color: var(--background-color); */
  color: var(--accent-color);
  background: var(--background-image) no-repeat center / cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 104px;
}

.header {
  display: flex;
  flex-direction: column;
  font-family: 'PressStart2P';
  outline: 2px solid var(--accent-color);
  margin-top: 102px;
  align-items: center;
  inline-size: clamp(320px, 70%, 696px);
  block-size: 364px;
  background-color: var(--background-color);
}

.header__title {
  font-size: clamp(3.0625rem, 2.625rem + 1.5vw, 4.0625rem);
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 136px;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.75rem + 0.8vw, 1.4375rem);
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 20px;
}

.theme-menu__list {
  position: relative;
  margin-top: 25px;
}

.theme-menu__item {
  font-size: 14px;
}

.theme-menu__item:not(:first-child) {
  margin-top: 14px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  display: grid;
}

.theme-menu__button::after {
  content: '';
  inline-size: 100%;
  block-size: 2px;
  scale: 0;
  background-color: var(--accent-color);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  margin-left: -20px;
  animation: pointerMover 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  opacity: 0.6;
  scale: 1;
  transition: scale 0.3s ease;
  transform-origin: 0%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
  inline-size: clamp(320px, 70%, 696px);
}

.card {
  inline-size: clamp(320px, 70% 696px);
  border: 2px solid var(--accent-color);
  max-inline-size: 696px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  /* position: relative; */
}

.card__title {
  padding: 5px 24px 5px 10px;
}

.card__image-block {
  position: relative;
}

.card__image-watermark {
  position: absolute;
  font-family: var(--accent-font);
  color: var(--accent-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  z-index: 1;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: 
    1px 1px var(--background-color), 
    -1px -1px var(--background-color), 
    1px -1px var(--background-color), 
    -1px 1px var(--background-color);
}

.card__image {
  object-fit: cover;
  inline-size: 100%;
}

.filter__saturate {
  filter: saturate(200%);
}

.filter__grayscale {
  filter: grayscale(0.7);
}

.filter__blur {
  filter: blur(0.5rem);
}

.filter__sepia {
  filter: sepia(35%);
}

.filter__invert {
  filter: invert(0.3);
}

.filter__brihtness {
  filter: brightness(1.5);
}

.filter__hue-rotate {
  filter: hue-rotate(45deg);
}

.multiplied__filter {
  filter: contrast(175%) opacity(0.5) sepia(80%);
}

.card__text-block {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.card__button {
  display: flex;
  align-self: end;
  align-items: center;
  gap: 3px;
  padding: 25px;
}

.card__like-button {
  border: 2px solid var(--accent-color);
  background-color: transparent;
  inline-size: 130px;
  block-size: 40px;
  position: relative;
  cursor: pointer;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: '';
  position: absolute;
  background-color: var(--accent-color);
  inline-size: 100%;
  block-size: 100%;
  top: 0;
  left: -100%;
  transition: left 0.5s ease-in-out;
  z-index: 1;
  /* transform-origin: 0%; */
}

.button:hover::before {
  left: 0;
  /* transform-origin: 0%; */
}

/* .button::before {
  content: '';
  position: absolute;
  background-color: var(--accent-color);
  inline-size: 100%;
  block-size: 100%;
  z-index: 1;
  transition: scale 0.5s ease-in-out;
  top: 0;
  left: 0;
  scale: 0;
  transform-origin: 0%;
}

.button:hover::before {
  scale: 1;
  transition: scale 0.5s ease-in-out;
  transform-origin: 0%;
} */

/* .button::before {
  content: '';
  transform-origin: 0;
}

.button:hover::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
} */

.save-button-container {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  /* inline-size: clamp(335px, 70%, 696px); */
  margin-bottom: 105px;
}

.save-button {
  background-color: var(--background-color);
  /* inline-size: 335px; */
  inline-size: clamp(320px, 70%, 696px);
  block-size: 51px;
  display: flex;
  gap: 8px;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid var(--accent-color);
}

.save-button__image {
  inline-size: 21px;
  block-size: 21px;
  fill: var(--accent-color);
}

.button__text {
  position: relative;
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  /* align-self: center;
  justify-self: center; */
  mix-blend-mode: difference;
  transition: color 0.5s ease-in-out;
  z-index: 2;
}

dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.save-modal-window {
  /* display: none; */
  inline-size: 357px;
  background-color: var(--background-color);
  color: var(--accent-color);
  outline: 2px solid var(--accent-color);
  text-transform: uppercase;
  padding: 31.5px;
  /* gap: 30px; */
}

.save-modal-window[opened] {
  /* display: flex;
  gap: 30px; */
}

.modal-container__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.modal-container__content .save-button__image {
  inline-size: 39px;
  block-size: 39px;
}

.modal-container__content-text {
  font-family: var(--accent-font);
  color: var(--accent-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
}

.modal-container__button {
  inline-size: 100%;
  padding: 9px 0;
  margin-top: 30px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background-color: var(--background-color);
}

@media (width <= 375px) {
  
  .header__title {
    font-size: 49px;
  }

  .header__subtitle {
    font-size: 14px;
  }
  
  .main {
    gap: 50px;
  }

  .card {
    max-inline-size: 375px;
  }

  .card__title {
    padding: 5px 10px;
  }

  .card__image-watermark {
    inset-block-start: 23px;
    inset-inline-end: 11px;
  }

  .save-button-container {

  }

  .save-button {
    flex-direction: column;
    inline-size: auto;
    block-size: 80px;
    align-items: center;
    padding: 15px;
  }

  .save-button__image {
    inline-size: 28px;
    block-size: 28px;
  }
}
